[submodule "kwik-ecommerce-ui"]
	path = kwik-ecommerce-ui
	url = git@github.com:bagnascojhoel/kwik-ecommerce-ui.git
	branch = main

[submodule "kwik-ecommerce-api"]
	path = kwik-ecommerce-api
	url = git@github.com:bagnascojhoel/kwik-ecommerce-api.git
	branch = main
[submodule "kwik-chat-api"]
	path = kwik-chat-api
	url = git@github.com:bagnascojhoel/kwik-chat-api.git
